body {
    background-color: #565656;
}

img {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 570px;
    width: 1150px;
    image-resolution: 700dpi;
}

#picture {
    height: 570px;
     width: 1150px;
}

#box_title {
    width: 700px;
    position: absolute;
    top: 10px;
    left: 50px;
}

#title {
    color: white;
    font-size: 75px;
    text-align: center;
}

#box_aboutus{
    height:200px;
    position: absolute;
    top: 650px;
    left: 15px;
    font-weight: bold;
    width: 400px;
}

#aboutus {
    height: 100%;
    width: 100%;
    color: white;
    text-align: left;
}

#box_credits {
    position: absolute;
    margin-top: 0;
    top: 500px;
    left: 0px;
    width: 300px;
}

#credits {
    text-align: left;
    color: white;
}

#box_drag {
    position: absolute;
    top: 500px;
    right: 200px;
}

#dragdrop {
    color: white;
    text-align: center;
    margin-top: 0;
}

#box_uploadDesc {
    margin-top: 0;
    position: absolute;
    top: 600px;
    right: 0px;
    height:100px;
    width: 400px;
    text-align: center;
}

#uploadDesc{
    color: white;
    overflow-wrap: break-word;
}



