/* css for index.html in the main public folder */
body {
  background-color: #37474f;
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 856px;
  width: 1400px;
  image-resolution: 700dpi;
}

#picture {
  height: 570px;
  width: 1150px;
}

#box_title {
  width: 700px;
  position: absolute;
  top: 5px;
  left: 250px;
}

#title {
  color: white;
  font-size: 95px;
  text-align: left;
  
}

#box_aboutus {
  height: 200px;
  position: absolute;
  left: 0px;
  top: 800px;
  left: 15px;
  width: 600px;
}

#aboutus {
  height: 100%;
  width: 100%;
  color: white;
  text-align: left;
  font-size: 40px;
  
}

#box-second_section {
  height: 200px;
  position: absolute;
  top: 870px;
  left: 15px;
  width: 700px;
}

#second_section {
  height: 100%;
  width: 100%;
  color: white;
  text-align: left;
  font-size: 25px;
}

#box_credits {
  position: absolute;
  margin-top: 0;
  top: 450px;
  left: 60px;
  width: 430px;
}

#credits {
  text-align: left;
  color: white;
  font-size: 23px;
}

#box_uploadDesc {
  position: absolute;
  top: 900px;
  right: 0px;
  height: 100px;
  width: 800px;
}

#uploadDesc {
  color: white;
  text-align: left;
  font-size: 20px;
}
